[user]
    name = Adrien Chauve
    email = adrien.chauve@gmail.com
[core]
    editor = vim
    autocrlf = false
[rerere]
    enabled = true
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    cp = cherry-pick
    last = log -1 HEAD
    lol = log --graph --pretty=short -n
    all = log --graph --pretty=short --decorate --all -n
    all10 = log --graph --pretty=short --decorate --all -n 10
    glog = log --pretty=oneline --topo-order --graph --abbrev-commit --all --decorate -n
    root = !pwd
    mg = merge --no-ff --edit --log
    pf = pull --ff-only
[color]
    ui = true
[gui]
    spellingdictionary = none
[diff]
    ignoreSubmodules = untracked
    guitool = kdiff3
[merge]
    tool = kdiff3
[push]
    default = current
